.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-div{
  width: 30%;
  height: 100%;
  margin: 100px auto;
  border-radius: 5px;
  background-color: #ededed;
  padding: 20px;
}

.sub-btn{
  color: #fff;
  background-color: #016a70;
}
li{
  
  color: #016a70;
  padding: 5px 10px;
   
  
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px)  {
  .main-div{
    width: 80%;
    height: 100%;
    margin: 100px auto;
    border-radius: 5px;
    background-color: #ededed;
    padding: 20px;
  }
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
